.libs
.deps
.dirstamp
*.o
*.lo
*.la
stamp-h?
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config/*
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
fabtests.spec

ported/libibverbs/fi_*
ported/librdmacm/fi_*

complex/fabtest
complex/fi_ubertest

benchmarks/fi_dgram_pingpong
benchmarks/fi_msg_pingpong
benchmarks/fi_rdm_cntr_pingpong
benchmarks/fi_rdm_pingpong
benchmarks/fi_rdm_tagged_bw
benchmarks/fi_rdm_tagged_pingpong

simple/fi_*
unit/fi_*
streaming/fi_*
pingpong/fi_*
