.libs
.deps
.dirstamp
*.o
*.lo
*.la
*.obj
*.vcxproj.user
*.pdb
*.tlog
*.exe
*.lib
*.dll
*.vc.db
*.vc.opendb
*.ilk
*.exp
stamp-h?
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config/*
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
fabtests.spec

ubertest/fabtest
ubertest/fi_ubertest

benchmarks/fi_*
functional/fi_*
unit/fi_*
pingpong/fi_*
