/drivers/net/ethernet/hpe/ss1/*.ko
/drivers/net/ethernet/hpe/ss1/*.o
/drivers/net/ethernet/hpe/ss1/*.o.cmd
/drivers/net/ethernet/hpe/ss1/*.ko.cmd
/drivers/net/ethernet/hpe/ss1/*.o.d
/drivers/net/ethernet/hpe/ss1/*.cmd
/drivers/net/ethernet/hpe/ss1/*.mod
/drivers/net/ethernet/hpe/ss1/*.mod.c
/drivers/net/ethernet/hpe/ss1/tests/.*
/drivers/net/ethernet/hpe/ss1/tests/*.ko
/drivers/net/ethernet/hpe/ss1/tests/*.mod
/drivers/net/ethernet/hpe/ss1/tests/*.o
/drivers/net/ethernet/hpe/ss1/tests/*.mod.c
/drivers/net/ethernet/hpe/ss1/tests/modules.order
/drivers/net/ethernet/hpe/ss1/Module.symvers
/drivers/net/ethernet/hpe/ss1/modules.order
/drivers/net/ethernet/hpe/ss1/modules.livepatch
/cxi/.tmp_versions
/ucxi/*.o
/ucxi/test_csr_access
/ucxi/test_nlmsg
/ucxi/test_rgroup
/ucxi/test_rx_profile
/ucxi/test_tx_profile
/ucxi/test_ucxi
/ucxi/test_ucxi_atu
/tests/output/*
/tests/*.dbg
/tests/test_cmd.sh
/scripts/*.dbg
*cscope.*
*.swp
*.gcno
/tests/tmptests/*
.vscode/*
