*.o
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
/compile
/depcomp
/install-sh
/ltmain.sh
/m4
/missing
/tap-driver.sh
/test-driver
/test-suite.log
.dirstamp
*.la
*.lo
*.pc
/src/test/*.tap
/src/test/*.dbg
/src/test/libcxi_test
/src/test/ucxi_test
/src/test/run_tests_vm.sh.*
/src/test/test_cmd.sh
