name: Binding Checks
on: [push, pull_request]
permissions:
  contents: read
jobs:
  rust:
    name: Rust binding check (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    defaults:
      run:
        working-directory: ./bindings/rust
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.3.1
      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: brew install autoconf automake libtool
      - name: Check Rust formatting
        run: cargo fmt --check
      - name: Build Rust binding
        run: |
          cargo clean && cargo build --features vendored
      - name: Test Rust binding
        run: |
          cargo clean && cargo test --features vendored
      - name: Dry-run publish Rust binding
        run: |
          cargo clean && cargo publish --dry-run -p ofi-libfabric-sys --features vendored
