name: Binding Checks
on: [push, pull_request]
permissions:
  contents: read
jobs:
  rust:
    name: Rust binding check (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: 
          - ubuntu-latest
    defaults:
      run:
        working-directory: ./bindings/rust
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Check Rust formatting
      run: cargo fmt --check
    - name: Build Rust binding
      run: |
        cargo clean && cargo build --features vendored
    - name: Test Rust binding
      run: |
        cargo clean && cargo test --features vendored
    - name: Dry-run publish Rust binding
      run: |
        cargo clean && cargo publish --dry-run -p ofi-libfabric-sys --features vendored
