name: Binding Checks
on: [push, pull_request]
permissions:
  contents: read
jobs:
  rust:
    name: Rust binding check (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: 
          - ubuntu-latest
    defaults:
      run:
        working-directory: ./bindings/rust
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Check Rust formatting
      run: cargo fmt --check
    - name: Build Rust binding
      run: |
        cargo clean && cargo build --features vendored
    - name: Test Rust binding
      run: |
        cargo clean && cargo test --features vendored
    - name: Dry-run publish Rust binding
      run: |
        cargo clean && cargo publish --dry-run -p ofi-libfabric-sys --features vendored
