name: GH Man Page Updater

permissions: {}

on:
  push:
    branches:
      - main
    paths:
      - 'man/*.md'
      - 'fabtests/man/*.md'
  workflow_dispatch:

jobs:
    gh-man-update:
        name: GH Man Page Updater
        runs-on: ubuntu-latest
        permissions:
          contents: write
          pull-requests: write
        steps:
          - name: Debug information
            env:
              GITHUB_DATA: ${{ toJSON(github) }}
            run: |
              echo This is information that may be useful for debugging.
              echo "$GITHUB_DATA"

          - name: Check out the git repo
            uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

          - name: Get the required packages
            run: sudo apt install -y pandoc

          - name: Update the man pages in branch gh-pages
            run: .github/workflows/gh-man.sh
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              REPO: ${{ github.event.repository.full_name }}
              BASE_REF: ${{ github.event.repository.default_branch }}
