name: Nix Build
on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: cachix/install-nix-action@08dcb3a5e62fa31e2da3d490afc4176ef55ecd72 # v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@ad2ddac53f961de1989924296a1f236fcfbaa4fc # v15
        with:
          name: nix-community
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        continue-on-error: true

      - name: Build libfabric
        run: nix build .#libfabric -L

      - name: Build all packages
        run: |
          nix build .#cassini-headers -L
          nix build .#libcxi -L
          nix build .#accel-config -L

      - name: Check flake
        run: nix flake check

  devshell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: cachix/install-nix-action@08dcb3a5e62fa31e2da3d490afc4176ef55ecd72 # v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Test devShell
        run: |
          nix develop .#ci --command bash -c '
            ./autogen.sh
            ./configure --prefix=$PWD/install \
              --enable-tcp \
              --enable-udp \
              --enable-rxm \
              --enable-shm \
              --enable-verbs \
              --enable-efa \
              --enable-psm3
            make -j$(nproc)
            make install
            ./install/bin/fi_info -l
          '

      - name: Upload build logs
        if: failure()
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: nix-devshell-config.log
          path: config.log
