name: GitHub Action Schedule

on:
  pull_request:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
    nroff-elves-scheduled:
        name: The Nroff Elves
        runs-on: ubuntu-latest
        steps:
          - name: Debug
            env:
              data: ${{ toJSON(github) }}
            run: echo "$data"

          - name: Debug base ref
            run: echo ${{ github.base_ref }}

          - name: Check out the git repo
            uses: actions/checkout@v2

          - name: Get the required packages
            run: sudo apt install -y pandoc hub

          - name: Build the nroff man pages
            run: .github/workflows/nroff-elves.sh
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              BASE_REF: ${{ github.base_ref }}
