name: Build Checks (CMake)
on: [push, pull_request]
permissions: {}
env:
  APT_PACKAGES: >-
    build-essential
    cmake
    debhelper
    fakeroot
    gcc
    git
    liblttng-ust-dev
    libnl-3-200 libnl-3-dev libnl-route-3-200 libnl-route-3-dev
    libnuma-dev
    libudev-dev
    uuid-dev
    ninja-build
    pandoc
    pkg-config
    python-is-python3
    rpm
    sparse
    valgrind
    wget
  RDMA_CORE_PATH: '$PWD/rdma-core/build'
  RDMA_CORE_VERSION: v35.0
jobs:
  linux:
    permissions:
      contents: read
      pull-requests: read
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        os:
          - ubuntu-22.04
        cc:
          - gcc
          - clang
      fail-fast: false
    steps:
      - name: Install dependencies (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ env.APT_PACKAGES }}
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Build Check
        run: |
          set -x
          git clone --depth 1 -b ${{ env.RDMA_CORE_VERSION }} https://github.com/linux-rdma/rdma-core.git
          pushd rdma-core; bash build.sh; popd
          export LD_LIBRARY_PATH="${{ env.RDMA_CORE_PATH }}/lib:$LD_LIBRARY_PATH"
          cmake --preset ci-linux \
            -DCMAKE_C_COMPILER=${{ matrix.cc }} \
            -DCMAKE_PREFIX_PATH="${{ env.RDMA_CORE_PATH }}"
          cmake --build build/ci-linux -j 2
          build/ci-linux/util/fi_info -l
          cmake --install build/ci-linux
      - name: Upload build logs
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ matrix.os }}-${{ matrix.cc }}-cmake-log
          path: build/ci-linux/CMakeFiles/CMakeOutput.log
  gcc15:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ env.APT_PACKAGES }}
          sudo add-apt-repository -y ppa:puni070/gcc-noble
          sudo apt-get update
          sudo apt-get install -y gcc-15 g++-15
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-15 60 --slave /usr/bin/g++ g++ /usr/bin/g++-15
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Build Check
        run: |
          set -x
          git clone --depth 1 -b ${{ env.RDMA_CORE_VERSION }} https://github.com/linux-rdma/rdma-core.git
          pushd rdma-core; bash build.sh; popd
          export LD_LIBRARY_PATH="${{ env.RDMA_CORE_PATH }}/lib:$LD_LIBRARY_PATH"
          cmake --preset ci-linux \
            -DCMAKE_PREFIX_PATH="${{ env.RDMA_CORE_PATH }}"
          cmake --build build/ci-linux -j 2
          build/ci-linux/util/fi_info -l
          cmake --install build/ci-linux
      - name: Upload build logs
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: gcc15-cmake-log
          path: build/ci-linux/CMakeFiles/CMakeOutput.log
  hmem:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-22.04
    steps:
      - name: Install dependencies (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ env.APT_PACKAGES }}
      - name: Install CUDA
        run: |
          sudo apt-get install -y nvidia-cuda-toolkit
      - name: Install ROCm
        run: |
          echo "Installing ROCm SDK"
          # TODO: Install ROCm dependencies and add ROCM support
      - name: Install Ze
        run: |
          echo "Installing Ze SDK"
          sudo apt-get install -y gpg-agent wget
          wget -qO - https://repositories.intel.com/graphics/intel-graphics.key | sudo apt-key add -
          sudo apt-add-repository 'deb [arch=amd64] https://repositories.intel.com/graphics/ubuntu focal main'
          sudo apt-get update
          sudo apt-get install -y level-zero level-zero-dev
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: HMEM Checks
        run: |
          set -x
          git clone --depth 1 -b ${{ env.RDMA_CORE_VERSION }} https://github.com/linux-rdma/rdma-core.git
          pushd rdma-core; bash build.sh; popd
          export LD_LIBRARY_PATH="${{ env.RDMA_CORE_PATH }}/lib:$LD_LIBRARY_PATH"
          cmake --preset ci-linux \
            -DCMAKE_PREFIX_PATH="${{ env.RDMA_CORE_PATH }}" \
            -DLIBFABRIC_WITH_CUDA=ON \
            -DLIBFABRIC_WITH_ZE=ON
          cmake --build build/ci-linux -j 2
          build/ci-linux/util/fi_info -l
          build/ci-linux/util/fi_info -c FI_HMEM
          cmake --install build/ci-linux
      - name: Upload build logs
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: hmem-cmake-log
          path: build/ci-linux/CMakeFiles/CMakeOutput.log
  macos:
    permissions:
      contents: read
      pull-requests: read
    runs-on: macos-latest
    steps:
      - name: Install dependencies (Mac OS)
        run: |
           brew install cmake ninja
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Build Check
        run: |
          cmake --preset ci-macos
          cmake --build build/ci-macos -j 2
          build/ci-macos/util/fi_info -l
          cmake --install build/ci-macos
      - name: Upload build logs
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: macos-cmake-log
          path: build/ci-macos/CMakeFiles/CMakeOutput.log
  windows:
    permissions:
      contents: read
      pull-requests: read
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Build Check
        run: |
          cmake --preset ci-windows
          cmake --build build/ci-windows --config Release -j 2
          & "build/ci-windows/util/Release/fi_info.exe" -l
          cmake --install build/ci-windows --config Release
      - name: Upload build logs
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: windows-cmake-log
          path: build/ci-windows/CMakeFiles/CMakeOutput.log
